.flex-container{
	display:flex;
	flex-wrap:wrap;
	width:990px;
	//border:2px solid red;
	margin:auto;
	gap:1rem;
}
.Call{
	margin-left:auto;
	font-size:33px;
	font-family:Arial;
}
hr{
	width:990px;
	margin-top:20px;
}
.headings{
	display:flex;
	margin:auto;
	gap:9rem;
}
.photos{
    display:flex;
    margin:auto;
	gap:30px;
}
p{
	width:300px;
	margin:auto;
}
