.container{
	//border:1px solid blue;
	max-width: 990px;
	margin: auto;
}

/* header */
.header{
	max-width: 990px;
	height: 134px;
	//border: 1px solid red;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.call-text{
	font-size: 33px;
}

.call-number{
	font-size: 28px;
}

hr{
	max-width: 990px;
	margin-bottom: 20px;
	margin-top: 20px;
}

/*nav*/

.topnav {
  overflow: hidden;
  background-color: #333;
  max-width: 990px;
  margin-bottom: 20px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 73.3px;
  text-decoration: none;
  font-size: 28px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #f54a1c;
  color: white;
}

.topnav .icon {
  display: none;
}


.banner{
	max-width: 100%;
}


/*footer*/
h1{
	font-size: 34px;
	//color: blue;
}



/*responsive*/
@media (max-width: 760px){
	h1{
		font-size: 60px;
		//color: red;
		text-align: center;
	}
	
	
	
	h3{
		font-size: 40px;
		//color: red;
		text-align: center;
	}
	
	p{
		font-size: 30px;
		font-family: arial;
	}
	
	.footer{
		padding: 2rem;
	}
	
	.banner{
		max-width: 100%;
		min-height: 300px;
	}
}

/*responsive*/
@media screen and (max-width: 989px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  
  svg{
	width: 57px;
	height: 35px;
  }
  
  .topnav a {
	  float: left;
	  display: block;
	  color: #f2f2f2;
	  text-align: center;
	  padding: 20px 87.4px;
	  text-decoration: none;
	  font-size: 40px;
	}
  
}


@media screen and (max-width: 989px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
	
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}








