.middle {
	display:flex;
	flex-direction:column;
	width:990px;
	height:400px;
	background-color:#ffc207;
	
}
h1{
	color:#ee2e23;
}
h2{
	color:#ee2e23;
}
.email{
	width:770px;
	height:30px;
	border-radius:25px;
	margin:auto;
}
.message{
	width:770px;
	height:120px;
	border-radius:25px;
	margin:auto;
}
.btn{
	width:770px;
	height:34px;
	border-radius:25px;
	margin:auto;
	background-color:#ee2e23;
	color:white;
}