*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

.container{
	max-width: 100%;
}

.logo{
	max-width: 200px;
	//border: 1px solid red;
}

.About-Us{
	//border: 1px solid red;
	padding: 20px;
	display: flex;
	gap: 50px;
	max-width: 990px:
}

.container3{
	display:flex;
	border: 1px solid blue;
}

.box1{
	//border: 1px solid blue;
	width: 45%;
	height: auto;
}

.box1 img{
	max-width: 100%;
}

.about-container h2{
	text-align: center;
}

.about-container h3{
	text-align: center;
}

.About-Us p{
	font-size: 18px;
	line-height: 1.5;
	color:#333;
	margin-bottom: 20px;
}

.btn{
	display: inline-block;
	padding:10px 20px;
	text-decoration: none;
	color:#fff;
	font-size:18px;
	font-weight:bold;
	text-transform: 5px;
	background: #333;
	transition: all 0.4s ease;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.btn{
	transform: translateY(-3px);
}

@media (max-width: 768px){
	.About-Us{
		//border: 1px solid red;
		padding: 20px;
		display: flex;
		flex-direction: column;
		gap: 50px;
		max-width: 990px:
	}
	
	.box1{
		//border: 1px solid blue;
		width: 100%;
		height: auto;
	}

	.box1 img{
		max-width: 100%;
	}
}

