
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
 body{
	 line-height: 1.5;
	 font-family: 'Poppins', sans-serif;
 }
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container1{
	max-width:1170px;
	margin:auto;
}

footer{
	max-width: 100%;
}
.footer-row{
	display:flex;
	flex-wrap:wrap;
	
}
ul{
	list-style: none;
}
.footer{
	background-color:#00a651;
	padding:70px 0;
	width:990px;
	
}
.footer-column{
	width: 25%;
	padding:0 15px;
}
.footer-column h4{
	font-size: 18px;
	color:#fff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position:relative;
	
}
.footer-column h4::before{
    content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 4px;
	box-sizing:border-box;
	width: 50px;
}
.footer-column ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-column ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #fff;
	text-decoration: none;
	font-weight: 300;
	color:#bbbbbb;
	display:block;
	transition: all 0.3s ease;
}
.footer-column ul li a:hover{
	color:#fff;
	padding-left: 8px;
}
.footer-column .Social-Media a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius:50%;
	color:#fff;
	transition: all 0.5s ease;
}
.footer-column .Social-Media a:hover{
	color:#24262b;
	background-color:#fff;
}
/*responsive for mobile,tablet*/
@media(max-width: 767px){
	.footer-column {
		width: 50%;
		padding:30px;
	}
}
@media(max-width: 574px){
	.footer-column {
		width: 100%;
		
	}
}
