
@media (min-width: 700px) {
	/*profile pic */
	.Pfp img{
		margin-right: 280px;
		//border: 1px solid red;
		width: 300px;
		height: 400px;
	}
	
	.nav-menu{
		margin-right:100px;
		//border: 1px solid red;
		font-size: 30px;
	}
	.center-text h2{
		font-size: 50px;
		margin-left:440px;
		//border: 1px solid red;
		width: 300px;
	}
	
	.tab-titles{
		margin-left: 380px;
		
	}
	
	.tab-titles p{
		font-size: 30px;
	}
	
	.Logo {
		font-size: 50px;
		margin-left: -100px;
	}
	
	.main{
		//border: 1px solid red;
		margin-right: 300px;
	}
	
	.main h4{
		font-size: 40px;
		//border: 1px solid red;
	}
	
	#changing-text{
		font-size: 40px;
	}
	
	p{
		font-size: 25px;
	}
	
	.skills-container{
		margin-right: 240px;
		//border: 1px solid red;
	}
	
	.contact-heading{
		position: relative;
		left: -180px;
	}
	
	.contact{
		margin-right:270px;
	}
	
	.footer{
		margin-left: 50px;
	}
	
	.scroll-top{
		margin-right: 200px;
	}
	
	.Portfolio-content {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(350px, auto));
		align-items: center;
		gap: 1rem;
		margin-top: 4.2rem;
		//border: 1px solid red;
		width: 1100px;
	}
	
	.row img{
		height: 350px;
		width: 300px;
		border-radius: 28px;
		margin-bottom: 1.4rem;
		margin-left: -5px;
	}

	.row {
		border-radius: 28px;
		border: 1px solid transparent;
		box-shadow: 0 0 5px #0ef;
		padding: 20px;
		transition: all .50s ease;
		height: 550px;
		width: 330px;
		margin-left: 20px;
	}
	
	.main-row {
		display: flex;
		align-items: center;
		//justify-content: space-between;
		margin-bottom: 0.5rem;
	}
}