* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	scroll-padding: 3rem;
	
}

body {
	background: #1f242d;
	font-family: "Poppins",sans-serif;
	color: white;
	width: 1366px;
	margin: auto;
	/*hides horizontal scroll bar*/
	overflow-x: hidden;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 25px 10%;
}

.Logo {
	color: #fff;
	text-decoration: none;
	font-weight: 600;
	font-size: 27px;
	cursor: default;
	animation: slideLeft 1s ease forwards;
	opacity: 0;
}

.Pfp img {
	
	animation: zoomIn 1s ease forwards;
	animation-delay: 1s ;
	opacity: 0;
}
/* styling the navigation menu*/
.navigation a {
	display: flex;
	justify-content: center;
	flex-direction: row;
	transition: 0.3s all;
	animation: navMenu 1s ease forwards;
	animation-delay: calc(0.2s * var(--i));
	opacity: 0;
}



.navigation a:hover,.navigation a.active {
	color: #0ef;
}

/*hero section styling */

.hero-container {
	display: flex;
	padding: 25px 10%;
	justify-content: space-between;
	align-items: center;
}

.information h3 {
	font-size: 30px;
	font-weight: 700;
	margin: 10px 0;
	letter-spacing: 1px;
	
}

.information h1 {
	font-size: 75px;
	letter-spacing: 1px;
	font-weight: 700;
	animation: slideRight 0.5s ease forwards;
	opacity: 0;
	animation-delay: 1s;
}

.information h3 span {
	color: #0ef;
	
}

.part-1 {
	animation: part1 1s ease forwards;
	
	opacity: 0;
}

.part-2 {
	animation: part2 1s ease forwards;
	
	opacity: 0;
}

/*style svg*/
svg {
	position: relative;
	border: 2px solid #0ef;
	padding: 10px;
	border-radius: 50%;
	fill: #0ef;
	margin: 0px 8px;
	transition: 0.3ms;
	font-size: 3rem;
	animation: socialIcons 1s ease forwards;
	animation-delay: calc(0.3s * var(--i));
	opacity: 0;
}

svg:hover {
	box-shadow: 0 0 20px #0ef;
	
}

button {
	background: #0ef;
	margin-top: 50px;
	padding: 20px 70px;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	font-weight: 600;
	transition: 0.3s;
	box-shadow: 0 0 15px #0ef;
	animation: slideUp 1s ease forwards;
	animation-delay: 1.5s;
	opacity: 0;
}

button:hover {
	box-shadow: none;
}

/*hamburger*/
 
.hamburger {
	display: none;
	cursor: pointer;
	
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px 0;
	transition: all 0.3s ease;
	background: #0ef;
}

.navbar {
	width: 100%;
	min-height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

li {
	list-style: none;
	
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #0ef;
	
}

.active {
	color: #0ef;
}

.container {
	width: 1600px;
	margin: auto;
}

.subcontainer {
	width: 85%;
	margin: auto;
}

.navbar {
	width: 100%;
	min-height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 60px;
	
}

/*My work*/

.center-text h2 {
	margin-left: 610px;
	color: #0ef;
	font-size: 2.5rem;
}

.portfolio {
	
}

.Portfolio-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	align-items: center;
	gap: 1rem;
	margin-top: 4.2rem;
}

.row img{
	height: 350px;
	width: 300px;
	border-radius: 28px;
	margin-bottom: 1.4rem;
	margin-left: -5px;
}

.row {
	border-radius: 28px;
	border: 1px solid transparent;
	box-shadow: 0 0 5px #0ef;
	padding: 20px;
	transition: all .50s ease;
	height: 540px;
	width: 330px;
	margin-left: 70px;
}

.main-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}

.row h5 {
	font-size: 20px;
	font-weight: 600;
	color: #0ef;
}

.row h4 {
	font-size: 25px;
	font-weight: 700;
	margin-bottom: 10px;
	line-height: 1.4;
}

.row:hover {
	border: 1px solid #0ef;
	transform: translateY(-5px) scale(1.03);
	cursor: pointer;
}

/*Artwork*/
.grid-wrapper img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
	border: 1px solid transparent;
	box-shadow: 0 0 5px #0ef;
}

.grid-wrapper > div{
	display:flex;
	justify-content: center;
	align-items: center;
}

.grid-wrapper img:hover {
	  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.2);
}

.grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
	
}

.grid-wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
	transition: transform 3s;
	margin-top: 50px;
	
}

.grid-wrapper .wide {
	grid-column: span 2;
}

.grid-wrapper .tall {
	grid-row: span 2;
}

.grid-wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
}

/*styling tablinks*/

.tab-titles {
	display: flex;
	margin: 20px 0 40px;
	margin:auto;
	//border: 2px solid red;
	position: relative;
	width: 300px;
	
}

.tab-links {
	margin-right: 50px;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	position: relative;
	
}

.tab-links::after {
	content: '';
	width: 0;
	height: 3px;
	background: #0ef;
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.5s;
}

.tab-links.active-link::after {
	width: 50%;
}

.tab-contents ul li {
	list-style: none;
	margin: 10px 0;
}

.tab-contents ul li span {
	font-size: 14px;
	color: #b54;
}

.tab-contents {
	display: none;
}

.tab-contents.active-tab {
	display: block;
}


/*about styling*/
.about {
	width: 100%;
	padding: 78px 0;
}

.about img {
	//border: 2px solid red;
}

.about-text {
	width: 550px;
}

.about-text h2 {
	color: #0ef;
	font-size: 80px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.about-text h4 {
	color: #0ef;
	font-size: 25px;
	text-transform: capitalize;
	margin-bottom: 20px;
	letter-spacing: 2px;
}

.about-text p {
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom:5px;
}

.Lets-talk {
	border-radius: 30px;
	padding: 13px 30px;
	font-weight: bold;
	border: 2px solid transparent;
}


.main {
	width: 1130px;
	max-width:95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

/* contact  styling */
.contact-heading {
	font-size: 2.5rem;
	color: #0ef;
	position: relative;
	left: -35px;
}

.contact-form {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 4.2rem;
}

.contact-form form {
	position: relative;
	width: 600px;
}

form input,
form textarea {
	width: 100%;
	padding: 20px;
	border: none;
	outline: none;
	box-shadow: 0 0 5px #0ef;
	background: #1f242d;
	color: #fff;
	margin-bottom: 20px;
	border-radius: 8px;
}

form input::placeholder,
form textarea::placeholder {
	color: #fff;
	font-size: 15px;
}

form .send-btn {
	display: inline-block;
	padding: 11px 26px;
	background: #1f242d;
	color: #0ef;
	border: 2px solid #1f242d;
	border-radius: 8px;
	font-size: 15px;
	font-weight: 600;
	transition: all .50s ease;
	width: 30%;
}

form .send-btn:hover {
	background: transparent;
	color: #0ef;
	box-shadow: 0 0 20px #0ef;
	cursor: pointer;
}

.footer {
	padding: 22px 16%;
	background: #1f242d;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
}

.copyright p {
	font-size: 15px;
	font-weight: 400;
	color: #fff;
}
/*animation*/
@keyframes slideLeft {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes navMenu {
	0% {
		transform: translateY(100px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
		
}

@keyframes part1 {
	0% {
		transform: translateY(-100px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
		
}

@keyframes part2 {
	0% {
		transform: translateY(100px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
		
}

@keyframes slideRight {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
		
}

@keyframes socialIcons {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
		
}

@keyframes slideUp  {
	0% {
		transform: translateY(100px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
		
}

@keyframes zoomIn {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
		
}

